@use "../abstracts/index" as *;

.footer {
  background-color: $color-footer-bg;
  color: $color-footer-text;
  line-height: 2.5;

  &__contenedor {
    max-width: 81vw;
    margin: 0 auto;
    padding: 5rem 3.5rem;

    @include respond(desktop) {
      & {
        max-width: 74rem;
      }
    }
    @include respond(desktop-lg) {
      & {
        max-width: 74rem;
      }
    }
  }

  &__contenido {
    color: $color-footer-text;
    font-family: "Iconsolata", sans-serif;
    font-size: $base-font-size;
  }

  &__link {
    color: $color-footer-link;
  }
}
