@use "../abstracts/index" as *;
.header {
  display: flex;

  margin-bottom: 2rem;

  &__logo {
    display: block;
    //width: 20rem;
    height: auto;
  }

  & source {
    display: block;
  }

  &__reactlogo {
    width: 45px;
    height: 45px;
    transform: translateY(-5px);
    //animation: logo-spin infinite 20s linear;
    @include logo-spin;
  }
}
