//Colores
$color-background-fallback: #912346;
$color-primary-text: #fff;
$color-complementary-light: #5dc2bd;
$color-complementary-dark: #2c5e5b;

$color-content-bg: #311429;
$color-content-bg-dark: #2c0c23;
$color-content-secondary: #c92f58;
$color-content-complementary: #efe5c3;

$color-cupon-bg: linear-gradient(to right, #fff, #bdbdbd);
$color-cupon-text: #000;

$color-warning-bg: #c51414;
$color-warning-text: #fff;

$color-button-bg: #339b95;
$color-button-text: #fff;

$color-footer-bg: #000;
$color-footer-text: #bbb;
$color-footer-link: #fff;

//fonts
$base-font: "Iconsolata", sans-serif;
$base-font-size: 1.6rem;
