/*@font-face {
  font-family: "LiberatorSiroko";
  src: url("../fonts/LiberatorSiroko.woff2") format("woff2"),
    url("../fonts/LiberatorSiroko.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*/

@font-face {
  font-family: "Liberator SIROKO";
  src: url("../fonts/LiberatorSIROKO-Heavy.eot");
  src: url("../fonts/LiberatorSIROKO-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LiberatorSIROKO-Heavy.woff2") format("woff2"),
    url("../fonts/LiberatorSIROKO-Heavy.woff") format("woff"),
    url("../fonts/LiberatorSIROKO-Heavy.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
